# 4.6 Exercises from the lesson

In [2]:
# Import Libraries

import pandas as pd
import numpy as np
import os

In [3]:
# Setting up the default path

path = r'C:\Users\peter\Desktop\Career Foundry - Data Analyst\Data Immersion\Achievement 4 - Python\01. Instacart Basket Analysis - June 2023'

In [4]:
# Importing the orders csv file

df_orders = pd.read_csv(os.path.join(path, '02. Data', 'Prepared Data', 'orders_checked.csv'), index_col = 0)

In [5]:
# Dropping the accidently created index column 'Unnamed: 0'

df_orders = df_orders.drop(columns=['Unnamed: 0'])

In [6]:
# Importing the product csv file

df_products = pd.read_csv(os.path.join(path, '02. Data', 'Prepared Data', 'products_checked.csv'), index_col = 0)

In [7]:
# Importing the new orders_products_prior csv file

df_orders_prior = pd.read_csv(os.path.join(path, '02. Data', 'Original Data', 'order_products_prior.csv'), index_col = False)

In [8]:
# Checking the new dataframe we just imported. 

df_orders_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [9]:
df_orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [10]:
df_products.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [11]:
df_orders_prior.shape

(32434489, 4)

In [12]:
df_orders.shape

(3421083, 7)

In [13]:
# Combining the two dataframes, df_orders and df_orders_prior with an inner join on the
# column order_id

df_merged_large = df_orders.merge(df_orders_prior, on = 'order_id')

In [14]:
df_merged_large.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,prior,1,2,8,NaN,196,1,0
1,2539329,1,prior,1,2,8,NaN,14084,2,0
2,2539329,1,prior,1,2,8,NaN,12427,3,0
3,2539329,1,prior,1,2,8,NaN,26088,4,0
4,2539329,1,prior,1,2,8,NaN,26405,5,0

In [15]:
df_merged_large.to_pickle(os.path.join(path, '02. Data', 'Prepared Data', 'orders_products_combined.pkl'))